{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <label for="username"><b>Login</b></label>
        {{ form.username }}
        <span style="color: red;">{{ form.username.errors }}</span>

        <label for="email"><b>Email</b></label>
        {{ form.email }}
        <span style="color: red;">{{ form.emails.errors }}</span>
    
        <label for="password1"><b>Password</b></label>
        {{ form.password1 }}
        <span style="color: red;">{{ form.password1.errors }}</span>

        <label for="password2"><b>Repeat Password</b></label>
        {{ form.password2 }}
        <span style="color: red;">{{ form.password2.errors }}</span>
    
        <button type="submit">Register</button>
      </div>
    </form>
  </body>
</html>